#
# Change the configuration below to match your setup
# You have to setup ssh public key authentication in order for this to work,
# as we need to be able to copy stuff without entering a password everytime.
# 
REMOTE_HOST="tifftiff.de"
REMOTE_PORT="2222"
REMOTE_USER="root"
REMOTE_PATH="/var/www/tifftiff/protonet/dbms/"

# Here you can parse options on to rsync if you e.g. want to exclude files
RSYNC_OPTIONS="--exclude blib --exclude _build --exclude Makefile --exclude Build --exclude .git --exclude .svn"

# Use the rsync option below with caution, as it replaces the remote directory
# with the contents of your project.
#RSYNC_OPTIONS="--delete"
