/**
 * DU BIST MIR SYMPATHISCH + protonet = <3
 *
 * Main red: #AC0016
 * Light red: #F6F0F0
 * Orange: #f2736a
 * Light orange: #ffc48a
 */
body {
  background: #fff;
}

.inner-body {
  width: auto;
}

body, textarea, input, select {
  font-family: tahoma,verdana,arial,"sans serif";
  font-size: 11px;
}

a,
a:hover {
  color: #AC0016;
}

/* ------------------------------------- HEADER ------------------------------------- */
header {
  height: 46px;
  overflow: hidden;
  position: relative;
  background: #fff !important;
}

header .monster {
  display: none;
}

header .logo {
  background: url(logo_small.png) no-repeat;
  left: 13px;
  top: 0;
}

#single-login {
  margin: 0;
  padding-top: 40px;
  top: auto;
  position: static;
  width: auto;
}

#login h1 {
  color: #AC0016;
}

header.login {
  border-bottom: 1px solid #AC0016;
}

/* ------------------------------------- SCAFFOLD ------------------------------------- */
section,
aside {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#side {
  background: #fff;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 26%;
  border-left: 2px solid #AC0016;
  z-index: 4;
}

section.main {
  width: 74%;
  margin: 0;
  position: static;
}

section.main.sub {
  width: 100%;
}

/* ------------------------------------- USER WIDGET ------------------------------------- */
#user-widget {
  border: 0;
  padding: 0;
  overflow: visible;
  position: static;
}

#user-widget h3 {
  margin-left: -2px;
  background: #AC0016;
  background: url(butterflies.png) no-repeat right center, -moz-linear-gradient(100% 100% 90deg, #AC0016, #e2737d);
  background: url(butterflies.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2737d), to(#AC0016));
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 0 0;
  text-align: center;
}

#user-widget .resize {
  display: none;
}

#user-widget li.online a {
  color: #000;
}

#user-widget li a {
  font-size: 14px;
  line-height: 24px;
}

#user-widget ul {
  min-height: 300px;
}

#user-widget li a {
  background: url(user.png) 0 0 no-repeat;
  padding-left: 32px;
}

#user-widget li.online a {
  background-position: 3px 5px;
}

#user-widget li.typing a {
  background-position: 3px -20px;
}

/* ------------------------------------- CHANNELS ------------------------------------- */
#channels {
  position: absolute;
  left: 198px;
  top: 0;
  right: 26%;
  bottom: ;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  height: 46px;
}

#manage-channels {
  display: none;
}

#channels ul {
  overflow: auto;
  display: table-cell;
  vertical-align: bottom;
}

#channels .badge {
  background: #AC0016;
}

#channels li a,
#channels li a:before,
#channels li a:active,
#channels .active:before,
#channels .active {
  background: #AC0016 url(tab_new.png) no-repeat;
}

#channels li {
  margin: 1px 0 0 8px !important;
  display: inline-block;
}

#channels li a:before {
  width: 7px;
  content: "";
  top: 0;
  bottom: 0;
  left: -7px;
  display: block;
  position: absolute;
  background-position: 0 0;
}

#channels li a {
  width: auto;
  position: relative;
  background-position: right 0;
  height: 18px;
  display: block;
  float: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 7px 0 0;
  line-height: inherit;
}

#channels li a:hover,
#channels .active {
  background-position: right bottom;
}

#channels li a:hover:before,
#channels .active:before {
  background-position: 0 bottom;
}

#channels li a,
#channels li a:hover,
#channels .active {
  color: #fff;
}

#channels .active,
#channels .active:hover {
  border: 0;
  line-height: inherit;
  margin-top: 0;
}

#channels .badge {
  padding: 2px;
  background: #AC0016;
}

/* ------------------------------------- MESSAGE FORM ------------------------------------- */
#message-form {
  margin: 1px 1px 0 0;
  background: #AC0016;
  padding: 12px 12px 12px 50px;
  position: relative;
}

#message-form .avatar {
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 0;
  height: auto;
  width: auto;
}

#message-form .avatar,
.meep .avatar {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#message-form .avatar img {
  border: 2px solid #fff;
  box-shadow: 3px 3px 3px #000;
  padding: 0;
}

#textarea-wrapper {
  border: 0;
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#textarea-wrapper,
#textarea-wrapper [type=submit],
#message-form .avatar img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

#textarea-wrapper menu {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  height: auto;
}

#textarea-wrapper textarea {
  padding-left: 34px;
  font-size: 14px;
  width: 90%;
}

#textarea-wrapper [type=submit] {
  background: #e2737d url(return.png) center center no-repeat;
  background: url(return.png) center center no-repeat, -moz-linear-gradient(100% 100% 90deg, #f99973, #f2736a);
  background: url(return.png) center center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2736a), to(#f99973));
  width: 10%;
}

#textarea-wrapper [type=submit]:hover {
  background: url(return.png) center center no-repeat, -moz-linear-gradient(100% 100% 90deg, #ef6213, #eb2903);
  background: url(return.png) center center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb2903), to(#ef6213));
}

#text-extension-preview {
  background-color: #F6F0F0 !important;
}

#textarea-wrapper menu [data-extension] {
  background: transparent url(spr_message_options.png) no-repeat 0 0;
}

#textarea-wrapper menu [data-extension="smiley"] {
  background: transparent url(spr_message_options.png) no-repeat 4px 2px;
}

#textarea-wrapper menu [data-extension="snapshot"] {
  background: transparent url(spr_message_options.png) no-repeat 4px -28px;
}


/* ------------------------------------- MESSAGES ------------------------------------- */
.meep,
.text-extension-results,
#message-form textarea {
  font-family: arial, "sans serif";
}

.meep {
  font-size: 12px;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  background: #fff !important;
  border: 0;
  border-bottom: 1px solid #AC0016;
  padding: 5px;
  padding-left: 57px;
  margin: 0 0 0 1px;
}

.meep .avatar {
  position: absolute;
  top: 2px;
  left: 14px;
  bottom: auto;
  padding: 0;
  width: auto;
  height: auto;
}

.meep .avatar img {
  padding: 0;
}

.meep article:nth-last-child(2) {
  background-image: none !important;
  padding-bottom: 0;
}

.meep [data-meep-action] {
  display: none;
}

.meep.focus:before {
  display: none;
}

.meep.separator:after {
  display: none;
}

.text-extension-results.flash .media a:active:after,
.text-extension-results.flash .media a:hover:after {
  background: #AC0016;
}

.meep-loading-indicator {
  background: url(loading_indicator.gif) center center no-repeat;
}

.reply.channel {
  background: #f2736a !important;
  color: #fff !important;
}

.reply.user {
  color: #000 !important;
  border: 1px solid #000;
}

.reply.user.myself {
  color: #fff !important;
  border: 0;
  background: #000 !important;
}

.reply-from-channel a {
  color: #AC0016 !important;
}

/* ------------------------------------- CONTEXT MENU ------------------------------------- */
.context-menu {
  border: 1px solid #AC0016;
}

.context-menu li {
  color: #AC0016;
  border-bottom: 1px solid #AC0016;
}

.context-menu:before {
  border-bottom: 7px solid #AC0016;
}

.context-menu-smileys li {
  border: 0;
}

/* ------------------------------------- BUTTON ------------------------------------- */
button,
button:after,
button:hover {
  background: url(button.png) no-repeat 0 0;
}

button:hover {
  background-position: 0 bottom;
}

button:hover:after {
  background-position: right bottom;
}

button {
  font: inherit;
  font-weight: bold;
  color: #fff !important;
  text-shadow: none;
  margin: 0;
  border: 0;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 27px;
  padding: 0 0 0 20px;
  overflow: visible;
  vertical-align: middle;
}

button:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 20px;
  height: 27px;
  background-color: #fff;
  background-position: right top;
}

button:disabled {
  opacity: 1;
}

button.loading:before {
  background-image: url(loading_indicator_small.gif);
}

/* ------------------------------------- MODAL DIALOGS ------------------------------------- */
.modal-window-dialog {
  background: #fff;
  border: 0;
}

.modal-window-dialog > h2 {
  padding: 10px;
  background: #AC0016;
  background: url(butterflies.png) no-repeat right center, -moz-linear-gradient(100% 100% 90deg, #AC0016, #e2737d);
  background: url(butterflies.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2737d), to(#AC0016));
}

/* ------------------------------------- MISCELLANEOUS ------------------------------------- */
.click-to-flash-teaser {
  background-image: url(click_to_flash_teaser.png) !important;
}

a.close-link {
  color: #fff !important;
}

a.close-link:hover {
  background: #AC0016;
}