/**
 * DU BIST MIR SYMPATHISCH + protonet = <3
 *
 * Main red: color: #ca0012;
 */
body {
  background: #fff;
}

.inner-body {
  width: auto;
}

body, textarea, input, select {
  font-family: tahoma,verdana,arial,"sans serif";
  font-size: 11px;
}

header {
  height: 48px;
  padding: 2px 5px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #666;
  background: #ccc;
  background: -moz-linear-gradient(100% 100% 90deg, #ccc, #fff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
}

header .monster {
  display: none;
}

header .logo {
  background: url(logo_small.png) no-repeat;
  margin-left: 10px;
  left: 0;
}

section,
aside {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#side {
  background: #f6f0f0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 30%;
}

section.main {
  width: 70%;
  margin: 0;
  position: static;
}

.meep .avatar,
#message-form .avatar {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#side {
  border-left: 2px solid #ca0012;
}

#user-widget {
  border: 0;
  padding: 0;
  overflow: visible;
  position: static;
}

#user-widget h3 {
  margin-left: -2px;
  background: #ca0012;
  background: url(butterflies.png) no-repeat right center, -moz-linear-gradient(100% 100% 90deg, #ca0012, #e2737d);
  background: url(butterflies.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2737d), to(#ca0012));
  line-height: 49px;
  font-size: 16px;
  padding: 2px 10px;
}

#user-widget .resize {
  display: none;
}

#user-widget li.online a {
  color: #ca0012;
}

#user-widget li a {
  font-size: 14px;
}

#user-widget ul {
  min-height: 300px;
}

#channels {
  position: absolute;
  top: 20px;
  left: 200px;
  padding: 0;
  margin: 0;
  border: 0;
}

#manage-channels {
  display: none;
}