/**
 * DU BIST MIR SYMPATHISCH + protonet = <3
 *
 * Main red: #AC0016
 * Light red: #F6F0F0
 */
body {
  background: #fff;
}

.inner-body {
  width: auto;
}

body, textarea, input, select {
  font-family: tahoma,verdana,arial,"sans serif";
  font-size: 11px;
}

a, a:hover {
  color: #AC0016;
}

header {
  height: 46px;
  overflow: hidden;
  position: relative;
  background: #ddd;
  background: -moz-linear-gradient(100% 100% 90deg, #ddd, #fff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
}

header .monster {
  display: none;
}

header .logo {
  background: url(logo_small.png) no-repeat;
  left: 13px;
  top: 0;
}

section,
aside {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#side {
  background: #f6f0f0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 26%;
  border-left: 2px solid #AC0016;
  z-index: 6;
}

section.main {
  width: 74%;
  margin: 0;
  position: static;
}

.meep .avatar,
#message-form .avatar {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#user-widget {
  border: 0;
  padding: 0;
  overflow: visible;
  position: static;
}

#user-widget h3 {
  margin-left: -2px;
  background: #AC0016;
  background: url(butterflies.png) no-repeat right center, -moz-linear-gradient(100% 100% 90deg, #AC0016, #e2737d);
  background: url(butterflies.png) no-repeat right center, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2737d), to(#AC0016));
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
  padding: 11px 0 0;
  text-align: center;
}

#user-widget .resize {
  display: none;
}

#user-widget li.online a {
  color: #000;
}

#user-widget li a {
  font-size: 14px;
}

#user-widget ul {
  min-height: 300px;
}

#channels {
  position: absolute;
  top: 13px;
  left: 210px;
  padding: 0;
  margin: 0;
  border: 0;
}

#manage-channels {
  display: none;
}

#channels li a,
#channels li a:active {
  width: 107px;
  height: 21px;
  display: block;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  background: url(button.png) no-repeat -107px 0;
  font-weight: bold;
  font-size: 14px;
  padding: 9px 0 0;
  line-height: inherit;
}

#channels li a:hover,
#channels .active {
  background: url(button.png) no-repeat 0 0;
}

#channels li a,
#channels li a:hover,
#channels .active {
  color: #fff;
}

#channels .active,
#channels .active:hover {
  border: 0;
  line-height: inherit;
}

#message-form {
  margin: 1px 0 1px 1px;
  background: #AC0016;
  padding: 12px 12px 12px 50px;
  position: relative;
}

#message-form .avatar {
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 0;
  height: auto;
  width: auto;
}

#message-form .avatar img {
  border: 2px solid #fff;
  box-shadow: 3px 3px 3px #000;
  padding: 0;
}

#textarea-wrapper {
  border: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#textarea-wrapper,
#textarea-wrapper input,
#message-form .avatar img {
  border-radius: 2px;
}

#textarea-wrapper textarea {
  font-size: 14px;
  width: 90%;
}

#textarea-wrapper input {
  background: #e2737d url(return.png) center center no-repeat;
  background: url(return.png) center center no-repeat, -moz-linear-gradient(100% 100% 90deg, #AC0016, #e2737d);
  background: url(return.png) center center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2737d), to(#AC0016));
}

#textarea-wrapper input:hover {
  background: #AC0016 url(return.png) center center no-repeat;
}

#text-extension-preview {
  background: #F6F0F0;
}

.meep,
.text-extension-results,
#message-form textarea {
  font-family: arial, "sans serif";
}

.meep {
  font-size: 12px;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  background: #fff !important;
  border: 1px solid #AC0016;
  padding: 6px;
  padding-left: 45px;
  margin: 12px;
}

.meep .avatar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #AC0016;
  padding: 1px 2px 1px 1px;
  width: auto;
  height: auto;
}

.meep .avatar img {
  padding: 0;
}

.meep article:nth-last-child(2) {
  background-image: none !important;
  padding-bottom: 0;
}

.meep [data-meep-action] {
  display: none;
}

.meep.focus:before {
  display: none;
}

.text-extension-results.flash .media a:active:after,
.text-extension-results.flash .media a:hover:after {
  background: #AC0016;
}

a.close-link {
  color: #fff !important;
}

a.close-link:hover {
  background: #AC0016;
}

.meep-loading-indicator {
  background: url(loading_indicator.gif) center center no-repeat;
}